<h1><%= @path == nil ? "" : @path.humanize %></h1>
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a> - <%= entry.date %>
      </li>
    <% end %>
  <% end %>
</ul>

