/* _reset.scss */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end _reset.scss */
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: #2e2e2e;
  color: #333; }

header, footer, section, article {
  display: block; }

#header {
  background-color: #3c63ae;
  padding: 15px 15px 15px 50px;
  border-bottom: 2px solid #35589b;
  color: #a5c3f9;
  font-family: 'Didact Gothic', sans-serif;
  height: 46px; }
  #header h1 {
    font-size: 200%; }
  #header ul {
    float: right;
    background-color: #35589b;
    padding: 15px 25px;
    margin-right: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #header ul li {
      float: left;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 2px solid #3c63ae; }
      #header ul li#first {
        padding-left: 0px;
        margin-left: 0px;
        border-left: none; }
      #header ul li a {
        color: #a5c3f9;
        font-family: 'Didact Gothic', sans-serif; }
        #header ul li a:hover {
          color: #d5e3fc; }

#content {
  margin: 0 auto;
  width: 90%;
  padding: 50px 25px;
  margin-top: 25px;
  background-color: #fefeff;
  line-height: 120%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 10px 10px 5px #292929;
  -moz-box-shadow: 10px 10px 5px #292929;
  -webkit-box-shadow: 10px 10px 5px #292929; }
  #content h1 {
    padding-bottom: 10px;
    display: block; }
  #content p {
    padding: 20px 0px; }

#by {
  font-style: italic;
  margin-right: 5px;
  font-size: 28px; }

#caption {
  position: absolute;
  font-size: 24px;
  margin: -135px 0 0 70px; }

#path {
  color: #b53131; }

.date {
  font-style: italic;
  float: right;
  line-height: 43px;
  margin-right: 30px; }

a {
  color: #35589b;
  font-family: 'Didact Gothic', sans-serif; }

h1 a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body header h1 {
  /*padding-left: 20px;*/
  font-size: 20px;
  font-weight: normal; }

.post header {
  margin-bottom: 10px; }

.post .body p:first-child {
  margin-top: 0; }

.post .body p:last-child {
  margin-bottom: 0; }

.post {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #888; }

.post:last-child {
  margin-bottom: 10px; }

.post p {
  margin: 10px 0; }

.post .more {
  margin-top: 10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right; }

.more a {
  text-decoration: none; }

.more a:hover {
  text-decoration: underline; }

body > header {
  display: block;
  margin-bottom: 20px; }

h1, h2, h3, h4 {
  display: inline;
  margin: 0;
  font-weight: 600; }

ul, li {
  list-style-type: none; }

code {
  padding: 30px;
  background-color: #ddd;
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 2px #bbbbbb;
  -moz-box-shadow: 5px 5px 2px #bbbbbb;
  -webkit-box-shadow: 5px 5px 2px #bbbbbb; }

pre {
  padding: 30px;
  background-color: #ddd;
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 2px #bbbbbb;
  -moz-box-shadow: 5px 5px 2px #bbbbbb;
  -webkit-box-shadow: 5px 5px 2px #bbbbbb; }

blockquote {
  font-style: italic; }

body > footer {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-size: 80%;
  color: #888;
  margin: 20px 10px 50px 10px; }
