<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Didact+Gothic&v2' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title %></title>
  </head>
  <body>
    <div id="header">
      <ul>
        <li id="first"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/archives">Archives</a></li>
      </ul>
      <h1>SegFault88.com</h1>
    </div>
    <div id="content">
      <section>
        <%= yield %> 
      </section>
    </div>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24698592-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

